<header>
    <div id="title">
        <div onclick="toggleNavbar();" class="mobile-only" id="menu-btn"><div> </div><div> </div><div> </div></div>
        {% if site.deprecated-features.logomark and site.deprecated-features.enabled %}
            <a href="{{ '/' | relative_url }}" class="mobile-only">{{ site.title }}</a>
            <img class="desktop-only" src="{{ site.logomark }}" alt="{{ site.title }}" />
        {% else %}
            <a  href="{{ '/' | relative_url }}">{{ site.title }}</a>
        {% endif %}
    </div>

    <nav>
        <ul id="navbar">
            {% for item in site.navbar %}
            <li>
                <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>