<header>
    <div id="header-container">
        <div id="title-container">
            <div onclick="toggleNavbar();" class="mobile-only" id="menu-btn"><div> </div><div> </div><div> </div></div>
            {% if site.logomark %}
                <a class="mobile-only website-title">{{ site.title }}</a>
                <img class="desktop-only website-title" src="{{ site.logomark }}" alt="{{ site.title }}" />
            {% else %}
                <a class="website-title">{{ site.title }}</a>
            {% endif %}
        </div>

        <ul id="navbar">
            {% for item in site.navbar %}
            <li>
                <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <hr class="desktop-only">
</header>