:root {
    --background-color: #1f1f1f;
    --font-color: #fff;
    --title-color: #a914ee;
    --link-color: #ff46b8;
    --hover-color: #df0089;
    --code-border-color: #272727;
    --navbar-background-color: #b619ff;
    --navbar-hover-color: #660099;
    --blockquote-background-color: #292929;
    --blockquote-font-color: #e7e7e7;
    --blockquote-border-color: #00b7ff;
    --table-color: #0084ff;
}