:root {
    --background-color: #222426;
    --font-color: #fff;
    --theme-color: #a85cf9;

    --navbar-theme-color: var(--theme-color);
    --navbar-title-color: var(--font-color);
    --navbar-menubtn-color: var(--font-color);

    --footer-font-color: var(--font-color);
    --footer-theme-color: var(--theme-color);
    --footer-link-color: var(--link-color);
    --footer-hover-color: var(--hover-color);

    --link-color: #6fdfdf;
    --hover-color: #4b7be5;

    --noscript-font-color: #BE0000;
    --noscript-background-color: #fff5a5;
    --noscript-border-color: #e48900;

    --code-background-color: #161b20;
    --code-font-color: var(--font-color);
    --code-border-color: #3c4245;

    --blockquote-background-color: #3c4245;
    --blockquote-font-color: #e7e7e7;
    --blockquote-border-color: #f10086;

    --table-background-color: #fe83c6;
    --table-font-color: var(--background-color);
    --table-in-border-color: #f10086;
    --table-out-border-color: var(--table-in-border-color);

    --cell-background-color: var(--background-color);
    --cell-font-color: var(--font-color);
    --cell-border-color: var(--table-in-border-color);
}