:root {
    --background-color: #fff;
    --font-color: #000;
    --title-color: #a914ee;
    --link-color: #ff46b8;
    --hover-color: #df0089;
    --horizontal-color: #b619ff;
    --noscript-font-color: #b37400;
    --noscript-background-color: #ffe600;
    --noscript-border-color: #ffa600;
    --code-font-color: #fff;
    --code-border-color: #838383;
    --navbar-background-color: #b619ff;
    --navbar-hover-color: #660099;
    --navbar-menubtn-color: #a914ee;
    --blockquote-background-color: #d1d1d1;
    --blockquote-font-color: #000;
    --blockquote-border-color: #008cff;
    --table-color: #0254b3;
    --table-background-color: #0077ff;
}