:root {
    --background-color: #1f1f1f;
    --font-color: #fff;
    --title-color: #a914ee;
    --link-color: #ff57bf;
    --hover-color: #ff009d;
    --code-border-color: #272727;
    --navbar-background-color: #b619ff;
    --navbar-hover-color: #660099;
}