:root {
    --background-color: #7300c0;
    --font-color: #fff;
    --title-color: #fff;
    --link-color: #0af7ff;
    --hover-color: #00a3cc;
    --horizontal-color: #fff;
    --noscript-font-color: #b37400;
    --noscript-background-color: #ffe600;
    --noscript-border-color: #ffa600;
    --code-font-color: #fff;
    --code-border-color: #272727;
    --navbar-background-color: #fff;
    --navbar-hover-color: #660099;
    --navbar-menubtn-color: #fff;
    --blockquote-background-color: #fff;
    --blockquote-font-color: #000;
    --blockquote-border-color: #00b7ff;
    --table-color: #fff;
    --table-background-color: #222222;
}