:root {
    --background-color: #1b1b1b;
    --font-color: #fff;
    --title-color: #b619ff;
    --link-color: #ff00c8;
    --hover-color: #ff61dd;
    --code-border-color: #252525;
    --button-background-color: #b619ff;
    --button-hover-color: #660099;
}