@import "fruity";
@import "color";

html {
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

main {
    margin: 20px 280px;
    padding: 20px 30px;
}

h1, h2 {
    border-bottom: 3px solid var(--title-color);;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-weight: bolder;
}

a, a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--hover-color);
}

.highlight pre {
    border: 7px solid var(--code-border-color);
    border-radius: 5px;
    padding: 7px;
    overflow: auto;
}

.highlight code {
    border-radius: 5px;
}

@import "navbar";