// <body>
main {
    margin: 40px 20%;
}

// <header>
header {
    padding-top: 20px;
    margin: 0 5%;
}

#header-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header hr {
    border: 2px solid var(--horizontal-color);
}

header img.website-title {
    max-width: 40%;
    max-height: 70%;
}

header a.website-title {
    font-size: 55px;
}

#navbar {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    height: 100%;
    max-width: 58%;
    align-items: center;
    justify-content: flex-end;
}

#navbar li {
    margin-left: 10px;
}

#navbar li:first-child {
    margin-left: 0;
}

#navbar a, #navbar a:visited {
    padding: 10px 15px 13px;
    border-radius: 5px;
}

#navbar a:hover {
    color: var(--navbar-background-color);
    background-color: var(--background-color);
    border: 1px solid var(--navbar-background-color);
}

// <footer>
footer {
    margin: 40px 5% 0;
}

footer div {
    padding: 20px;
}

footer hr {
    margin-bottom: 50px;
}