// <main>
main {
    margin: 10px 5%;
}

blockquote {
    margin: 16px 5%;
    padding-right: 16px;
}

div.highlight {
    max-width: 90%;
    margin: auto 
}

// <header>


// <footer>
footer {
    margin: 0;
}

footer div {
    padding: 30px 20px 20px;
}

footer hr {
    margin-bottom: 32px;
}