// <main>
main {
    margin: 10px 5%;
}

blockquote {
    margin: 16px 5%;
    padding-right: 16px;
}

div.highlight {
    max-width: 90%;
    margin: auto 
}

// <header>
#title-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--title-color);
}

header a.website-title {
    font-size: 30px;
    margin: auto 3% auto 0;
}

header div#menu-btn {
    margin-bottom: -1px;
    padding: 10px 12px;
    border-right: 3px solid var(--title-color);
}

header div#menu-btn div {
    width: 40px;
    height: 5px;
    background-color: var(--navbar-menubtn-color);
    margin: 8px 0;
}

#navbar {
    margin: 0;
    padding: 0;
    display: none;
}

#navbar li {
    margin-top: 3px;
}

#navbar a, #navbar a:visited {
    padding: 16px 3%;
    width: 94%;
    font-weight: 600;
    display: block;
}

#navbar a:first-child {
    border: 0;
}

// <footer>
footer {
    margin: 0;
}

footer div {
    padding: 30px 20px 20px;
}

footer hr {
    margin-bottom: 32px;
}