// <body>
main {
    margin: 40px 20%;
}

// <header>
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: 0 5% 0;
    border-bottom: 3px solid var(--title-color);
}

nav {
    width: 70%;
    height: 100%;
    overflow-x: auto;
}

nav ul {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav ul li {
    margin-left: 10px;
    padding: 12px 0;
    list-style: none;
    background-color: var(--navbar-background-color);
    border-radius: 5px;
    height: fit-content;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: var(--background-color);
    padding: 12px;
    box-sizing: border-box;
    text-decoration: none;
}

// <footer>
footer {
    margin: 40px 5% 0;
}

footer div {
    padding: 20px;
}

footer hr {
    margin-bottom: 50px;
}