@media only screen and (min-width: 831px) {
    .mobile-only {
        display: none;
    }
}

@media only screen and (max-width: 830px) {
    .desktop-only {
        display: none;
    }
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

body {
    padding: 0;
    margin: 0;
}

noscript div {
    padding: 20px;
    margin-bottom: 10px;
    color: var(--noscript-font-color);
    background-color: var(--noscript-background-color);
    border: 3px solid var(--noscript-border-color);
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-weight: bolder;
}

h1, h2 {
    border-bottom: 3px solid var(--title-color);;
}

main a, main a:visited {
    color: var(--link-color);
}

main a:hover {
    color: var(--hover-color);
}

hr {
    background-color: var(--horizontal-color);
    border: 1px solid var(--title-color);
}

blockquote {
    background-color: var(--blockquote-background-color);
    color: var(--blockquote-font-color);
    border-left: 2px solid var(--blockquote-border-color);
    border-radius: 0px 5px 5px 0px;
    padding: 1px 0 1px 10px;
}

table {
    border: 1px solid var(--table-color);
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 10px;
    background: var(--table-background-color);
    color: var(--font-color);
    border: 1px solid var(--table-color);
    font-weight: normal;
}

td {
    padding: 10px;
    border: 1px solid var(--table-color);
}

.highlight pre {
    border: 7px solid var(--code-border-color);
    border-radius: 5px;
    padding: 7px;
    overflow: auto;
}

.highlight code {
    border-radius: 5px;
}

// <header>

// <footer>
footer {
    color: var(--font-color);
    text-align: center;
}   

footer div {
    margin: 0 auto;
    width: fit-content;
}

footer hr {
    background-color: var(--horizontal-color);
    border: 1px solid var(--horizontal-color);
}


footer a, footer a:visited {
    color: var(--link-color);
}

footer a:hover {
    color: var(--hover-color);
}