// <body>
main {
    margin: 40px 20%;
}

// <header>
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: 0 5% 0;
    border-bottom: 3px solid var(--title-color);
}

// Deprecated
header #title img {
    max-width: 40%;
    max-height: 70%;
    margin-right: 30px;
}

header #title a {
    margin-right: 30px;
    font-size: 55px;
}

nav {
    max-width: 70%;
    height: 100%;
    overflow-x: auto;
}

#navbar {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#navbar li {
    margin-left: 10px;
    padding: 12px 0;
    list-style: none;
    height: fit-content;
}

#navbar li:first-child {
    margin-left: 0;
}

#navbar li a {
    padding: 12px;
    font-size: 17px;
    background-color: var(--navbar-background-color);
    border: 2px solid var(--navbar-background-color);
    border-radius: 5px;
}

#navbar li a:hover {
    color: var(--navbar-background-color);
    background-color: var(--background-color);
}

// <footer>
footer {
    margin: 40px 5% 0;
}

footer div {
    padding: 20px;
}

footer hr {
    margin-bottom: 50px;
}