footer {
    margin: 40px 5% 0;
    color: var(--font-color);
    text-align: center;
}

footer div {
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
}

footer hr {
    background-color: var(--horizontal-color);
    border: 1px solid var(--horizontal-color);
    margin-bottom: 50px;
}

footer a, footer a:visited {
    color: var(--link-color);
}

footer a:hover {
    color: var(--hover-color);
}