@media only screen and (max-width: 1000px) {
    main {
        margin: 10px 5%;
    }

    #navbar > div > div {
        display: flex;
        justify-content: space-between;
        //background-color: var(--title-color);
        border-bottom: 3px solid var(--title-color);
        //border-radius: 0 0 5px 5px;
    }

    #navbar a.website-title {
        font-size: 30px;
        font-weight: bolder;
        white-space: nowrap;
        margin: auto 3% auto 0;
    }

    #navbar a#menu-btn {
        padding: 3%;
        border-right: 3px solid var(--title-color);
    }

    #navbar a#menu-btn div {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
    }
    
    #navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none;
    }

    #navbar ul li {
        border-top: 1px solid var(--background-color);
    }

    #navbar ul li:first-child {
        border: 0;
    }

    

    #navbar ul a, #navbar ul a:visited {
        padding: 16px 3%;
        width: 100%;
        background-color: var(--navbar-background-color);
        color: var(--background-color);
        font-size: 20px;
        white-space: nowrap;
        text-decoration: none;
        display: block;
    }

    #navbar ul a:first-child {
        border: 0;
    }
}