@media only screen and (max-width: 1000px) {
    main {
        margin: 10px 5%;
        font-size: 18px;
    }

    .highlight pre {
        font-size: 16px;
        max-width: 93%;
    }
    
    blockquote {
        margin: 18px 10px;
    }

    #title-container {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid var(--title-color);
    }

    header a.website-title {
        font-size: 35px;
        font-weight: bolder;
        white-space: nowrap;
        margin: auto 3% auto 0;
    }

    header a#menu-btn {
        padding: 11.5px 13px;
        border-right: 3px solid var(--title-color);
    }

    header a#menu-btn div {
        width: 45px;
        height: 5px;
        background-color: var(--navbar-menubtn-color);
        margin: 10px 0;
    }
    
    #navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none;
    }

    #navbar li {
        border-top: 1px solid var(--background-color);
    }

    #navbar li:first-child {
        border: 0;
    }

    #navbar a, #navbar a:visited {
        padding: 16px 3%;
        width: 94%;
        background-color: var(--navbar-background-color);
        color: var(--background-color);
        font-size: 23px;
        font-weight: bold;
        white-space: nowrap;
        text-decoration: none;
        display: block;
    }

    #navbar a:first-child {
        border: 0;
    }

    footer {
        margin: 0;
        font-size: 17px;
    }

    footer hr {
        margin-bottom: 32px;
    }

    footer div {
        padding: 30px 20px 20px;
    }
}