@media only screen and (max-width: 1000px) {
    main {
        margin: 10px 5%;
    }

    #navbar > div > div {
        display: flex;
        justify-content: space-between;
        background-color: var(--title-color);
    }

    #navbar a.website-title {
        font-size: 30px;
        font-weight: bolder;
        white-space: nowrap;
        margin: auto 3% auto 0;
    }

    #navbar a#menu-btn {
        padding: 3%;
        border-right: 3px solid var(--background-color);
    }

    #navbar a#menu-btn div {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
    }

    #navbar ul {
        display: block;
    }
}