<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="{{ page.theme-color | default: site.theme-color }}">
        
        {% seo %}

        <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon" />

        {% stylesheets.html %}

        {% include mobile-navbar.html %}

        {% if site.google-analytics %}
        {% include google-analytics.html %}
        {% endif %}
    </head>
    <body>
        {% include header.html %}

        <main>
            {{ content }}
        </main>

        {% include footer.html %}
    </body>
</html>
