<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.name }}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css' }}">
    </head>
    <body>
        <header>
            {% include navbar.html %}
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            {% include footer.html %}
        </footer>
    </body>
</html>